.tableContainer {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 20px;
  position: relative;
  box-shadow: 1px 6px 45px rgb(255 54 231 / 35%);
  bottom: 0;
  width: 100%;
  border-radius: 0;
  margin: 0; 
}
